body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Verdana', cursive;
    font-size: 88%;
}

#content {
    display: none;
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.central-box {
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    max-height: 300px;
    width: 90%;
    transition: all 0.5s;
    position: relative;
}

#search-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.64em;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #4a9dec;
}

.input {
    border: 2px solid transparent;
    width: 15em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #3a3a3a;
    color: #fff;
    border-radius: 10px;
    transition: all 0.5s;
}

.input:hover,
.input:focus {
    border: 2px solid #4a9dec;
    box-shadow: 0px 0px 0px 7px rgba(74, 157, 236, 0.2);
    background-color: #2e2e2e;
}

.curtain {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #333;
    top: 0;
    z-index: 1;
}

#curtain-left {
    left: 0;
    animation: slideLeft 2s forwards;
}

#curtain-right {
    right: 0;
    animation: slideRight 2s forwards;
}

.shrink-content {
    max-width: 300px;
    max-height: 150px;
    padding: 10px;
}

@keyframes slideLeft {
    to {
        transform: translateX(-100%);
    }
}

@keyframes slideRight {
    to {
        transform: translateX(100%);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

p {
    opacity: 0.6;
}

.message-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
    color: #fff;
    font-family: 'Verdana', sans-serif;
}

.big-face {
    font-size: 3em;
    margin-bottom: 20px;
}

.message {
    font-size: 1.2em;
    margin-bottom: 20px;
    opacity: 0.98;
}

.button {
    background-color: #ffffff00;
    color: #fff;
    width: 8.5em;
    height: 2.9em;
    border: #3654ff 0.2em solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* posição rltiva */
}

.button:hover {
    background-color: #3654ff;
    cursor: pointer;
}

.button svg {
    width: 1.6em;
    margin-right: 0.5em;
    transition: all 0.6s ease;
}

.button:hover svg {
    transform: translateX(5px);
}

.text {
    line-height: 2.9em; /* centraliza */
}

.loader {
  --dim: 3rem;
  width: var(--dim);
  height: var(--dim);
  position: relative;
  animation: spin988 2s linear infinite;
}

.loader .circle {
  --color: #fff; /* not nigga */
  --dim: 1.2rem;
  width: var(--dim);
  height: var(--dim);
  background-color: var(--color);
  border-radius: 50%;
  position: absolute;
}

.loader .circle:nth-child(1) {
  top: 0;
  left: 0;
}

.loader .circle:nth-child(2) {
  top: 0;
  right: 0;
}

.loader .circle:nth-child(3) {
  bottom: 0;
  left: 0;
}

.loader .circle:nth-child(4) {
  bottom: 0;
  right: 0;
}

@keyframes spin988 {
  0% {
    transform: scale(1) rotate(0);
  }

  20%, 25% {
    transform: scale(1.3) rotate(90deg);
  }

  45%, 50% {
    transform: scale(1) rotate(180deg);
  }

  70%, 75% {
    transform: scale(1.3) rotate(270deg);
  }

  95%, 100% {
    transform: scale(1) rotate(360deg);
  }
}

@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeSlideInText {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.image-container {
    animation: fadeSlideIn 1.5s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.image-container .text {
    margin-top: 20px;
    font-size: 1.5em;
    animation: fadeSlideInText 1.5s forwards;
}
